.container{
    max-width: 1000px;
    /* margin: auto; */
    text-align: center;
    margin-top: 50px;
    margin-bottom: 20px;
}
.container h3{
    color: #304ffe;
    font-size: 2rem;
    margin-bottom: 10px;
}
.container p{
    color: #5f5f5f;
    font-size: 1.3rem;
    align-items: center;
    /* font-weight: 400; */
}
.container a{
    color: #304ffe;
    background-color: rgb(230, 224, 224);
    border-radius: 10px;
    padding: 5px;
    text-decoration: none;
    transition: 0.4s all ease-in-out;
    align-items: center;
}
.container a:hover{
    background-color: #304ffe;
    color: #fff;
}